# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
.btc_tracker_env/

# Logs
logs/
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore environment variables
.env
